@page "/"

<div class="title">
    <h1>Welcome to SG Steady!</h1>
</div>

<div class="subHeading">
    <h4>Try out the Singaporean dating scheme and find your potential partner here!</h4>
</div>

<div class="LoginPage">
    <button>
        <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
            Log in or create an account here!
        </NavLink>
    </button>
</div>